<div class="shift-detail">
  <div class="roll">
    問診
  </div>
  <div class="custom-select">
    <div class="user-select">
      <%= f.select "user_role_combinations[1]{}", options_for_select(User.joins(:roles).where(roles: { id: 1}).order(id: :asc).map { |user| [user.name, user.id] }), {include_hidden: false}, {class: "user_id", multiple: true} %>
    </div>
  </div>
  <div class="member">
    （6名）
  </div>
</div>
<div class="shift-detail">
  <div class="roll">
    採血
  </div>
  <div class="custom-select">
    <div class="user-select">
      <%= f.select "user_role_combinations[2]{}", options_for_select(User.joins(:roles).where(roles: { id: 2}).order(id: :asc).map { |user| [user.name, user.id] }), {include_hidden: false}, {class: "user_id", multiple: true} %>
    </div>
  </div>
  <div class="member">
    （4名）
  </div>
</div>
<div class="shift-detail">
  <div class="roll">
    心電図
  </div>
  <div class="custom-select">
    <div class="user-select">
      <%= f.select "user_role_combinations[13]{}", options_for_select(User.joins(:roles).where(roles: { id: 13}).order(id: :asc).map { |user| [user.name, user.id] }), {include_hidden: false}, {class: "user_id", multiple: true} %>
    </div>
  </div>
  <div class="member">
    （1名）
  </div>
</div>
<div class="shift-detail">
  <div class="roll">
    腹囲測定
  </div>
  <div class="custom-select">
    <div class="user-select">
      <%= f.select "user_role_combinations[4]{}", options_for_select(User.joins(:roles).where(roles: { id: 4}).order(id: :asc).map { |user| [user.name, user.id] }), {include_hidden: false}, {class: "user_id", multiple: true} %>
    </div>
  </div>
  <div class="member">
    （2名）
  </div>
</div>
<div class="shift-detail">
  <div class="roll">
    眼底
  </div>
  <div class="custom-select">
    <div class="user-select">
      <%= f.select "user_role_combinations[6]{}", options_for_select(User.joins(:roles).where(roles: { id: 6}).order(id: :asc).map { |user| [user.name, user.id] }), {include_hidden: false}, {class: "user_id", multiple: true} %>
    </div>
  </div>
  <div class="member">
    （1名）
  </div>
</div>
<div class="shift-detail">
  <div class="roll">
    診察介助
  </div>
  <div class="custom-select">
    <div class="user-select">
      <%= f.select "user_role_combinations[10]{}", options_for_select(User.joins(:roles).where(roles: { id: 10}).order(id: :asc).map { |user| [user.name, user.id] }), {include_hidden: false}, {class: "user_id", multiple: true} %>
    </div>
  </div>
  <div class="member">
    （2名）
  </div>
</div>
<div class="shift-detail">
  <div class="roll">
    胸写
  </div>
  <div class="custom-select">
    <div class="user-select">
      <%= f.select "user_role_combinations[9]{}", options_for_select(User.joins(:roles).where(roles: { id: 9}).order(id: :asc).map { |user| [user.name, user.id] }), {include_hidden: false}, {class: "user_id", multiple: true} %>
    </div>
  </div>
  <div class="member">
    （1名）
  </div>
</div>
<div class="shift-detail">
  <div class="roll">
    検尿
  </div>
  <div class="custom-select">
    <div class="user-select">
      <%= f.select "user_role_combinations[16]{}", options_for_select(User.joins(:roles).where(roles: { id: 16}).order(id: :asc).map { |user| [user.name, user.id] }), {include_hidden: false}, {class: "user_id", multiple: true} %>
    </div>
  </div>
  <div class="member">
    （1名）
  </div>
</div>
<div class="shift-detail">
  <div class="roll">
    セレクト
  </div>
  <div class="custom-select">
    <div class="user-select">
      <%= f.select "user_role_combinations[13]{}", options_for_select(User.joins(:roles).where(roles: { id: 13}).order(id: :asc).map { |user| [user.name, user.id] }), {include_hidden: false}, {class: "user_id", multiple: true} %>
    </div>
  </div>
  <div class="member">
    （1名）
  </div>
</div>
<div class="shift-detail">
  <div class="roll">
    がん問診
  </div>
  <div class="custom-select">
    <div class="user-select">
      <%= f.select "user_role_combinations[11]{}", options_for_select(User.joins(:roles).where(roles: { id: 11}).order(id: :asc).map { |user| [user.name, user.id] }), {include_hidden: false}, {class: "user_id", multiple: true} %>
    </div>
  </div>
  <div class="member">
    （1名）
  </div>
</div>